.footer{
  background-color: rgb(3, 60, 69);
  color: white;
  display: flex;
  justify-content: space-between;
  margin: 20px;
  padding: 50px 40px;

  .accounts{
    display: flex;
    gap: 1rem;

    svg{
      width: 1.5rem;
      cursor: pointer;
    }
  }
}